@import "variables.scss";
//-----------------------------------
h1, h2, h3, h4, h5, h6, p, label, a {
  font-family: $base_font;
  color: $color2;
}
p, label, a, button, input {
  font-size: $base_size;
  font-weight: 300;
  color: $color2;
}
//-----------------------------------
@mixin wrapperSection {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: $mobile) {
    min-height: auto;
  }
  > .wrapper {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@mixin baseText {
  text-decoration: none;
  color: $color2;
  font-size: $base_size;
}
