$mobile: 991px;
$tablet: 1199px;
$laptop: 1399px;
// -------------------------------------
$color1: #FFFFFF;
$color2: #000000;
$color3: #3A3A3A;
$color4: #33466E;
$color5: #5E2CC4;
// -------------------------------------
$base_font: "Poppins", serif;
$base_size: 15px;
// -------------------------------------